<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inteligentná domácnosť</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#notifikacia").onsubmit = () => {
                const request = new XMLHttpRequest();
                const sprava = document.querySelector("#text").value;
                const heslo = document.querySelector("#heslo").value;
                request.open("POST", "/api/notifikacia");

                request.onload = () => {
                    let response = JSON.parse(request.responseText);
                    if (parseInt(response, 10) === 202) {
                        document.querySelector("#vysledok").innerHTML = "Správa bola odoslaná.";
                    } else {
                        document.querySelector("#vysledok").innerHTML = "Niekde nastala chyba.";
                    }
                };

                const data = new FormData();
                data.append("sprava", sprava);
                data.append("heslo", heslo);

                request.send(data);
                return false;
            };
        });
    </script>
</head>

<body>
    <div class="container" id="container">
        <h1>PMA Inteligentá domácnosť</h1>
        <h3>TODO</h3>
        <h5>Čas: {{ cas }} | Teplota: {{ temp }}, Vlhkosť: {{ humidity }}</h5>
        <!-- Dočasné testovanie notifikácii -->
        <form id="notifikacia">
            <input id="text" autocomplete="off" autofocus placeholder="Správa" type="text">
            <input id="heslo" autocomplete="off" placeholder="Heslo" type="password">
            <input type="submit" value="Poslať notifikáciu">
        </form>
        <h5 id="vysledok"></h5>
    </div>
    <footer class="footer">
        <div class="container">
            <span>KI/PMA/15 projekt Inteligentná domácnosť, tím Piroškovci</span>
        </div>
    </footer>

</body>

</html>
